<div class="container-fluid">
    <headernav>
        <div class="container-fluid">
            <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
                <a class="navbar-brand" href="#">Ardennen</a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#expandme">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="expandme">
                    <div class="navbar-nav">
                        <a href="index.html" class="nav-item nav-link">home</a>
                        <a href="index.html" class="nav-item nav-link">over ons</a>
                        <a href="index.html" class="nav-item nav-link">contact</a>
                    </div>
                </div>
        </div>
        </nav>
    </headernav>
    <header class="Fotoheader">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center">
                    <div class="container-fluid">
                        <p class="titel">
                        <h1 class="ml12">De Ardennen</h1>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </header>

</div>